* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==GERAL== */

:root {

    --cor-principal-azul: hsl(203, 100%, 38%);
    --cor-fundo-cinza: hsl(0, 0%, 98%);
    --cor-footer: hsl(210, 19%, 14%);
    --cor-text-2: hsl(225, 12%, 87%);
    --cor-text-3: hsl(225, 12%, 40%);

    font-size: 62.5%;
    --nav-height: 6.2rem;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;

    text-align: center;

    overflow: overlay;

    /* background-color: var(--cor-fundo-cinza); */
}

.box-content {
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul {
    list-style: none;
}

section {
    padding-block: 10rem;
}

/* ==HOME== */
#home {
    padding-top: calc(4.1rem + var(--nav-height));
}

#home h1 {
    font-size: 3.4rem;
    line-height: 130%;
    margin-bottom: 2.4rem;
}

#home h4 {
    font-size: 1.4rem;
    color: var(--cor-principal-azul);
    margin-bottom: 1.6rem;
}

#home p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--cor-text-3);
    margin-bottom: 3.2rem;
}

#home button {
    background: var(--cor-principal-azul);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;

    height: 4rem;
    width: 14rem;

    border: none;
    border-radius: 8px;
    margin-bottom: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#home .img-principal img {
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 2rem;
}

/* ==LOGO EMPRESAS== */
.empresas {
    width: 32.7rem;
    padding-block: 4rem;

    background: var(--cor-fundo-cinza);
    border: none;
    border-radius: 0.9rem;

    margin-inline: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

/* ==NAVIGATION== */
nav {
    display: flex;

    height: var(--nav-height);

    position: fixed;
    top: 0;
    width: 100vw;

    z-index: 100;
}

nav .box-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    
    background: var(--cor-fundo-cinza);
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

/* ==EXTENSÃO DO MENU== */
body.extensao-menu {
    overflow: hidden;
}

body.extensao-menu > :not(nav) {
    visibility: hidden;
}

.menu,
.close-menu,
body.extensao-menu .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.extensao-menu .menu,
body.extensao-menu .close-menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    transform:  translateY(100%);
}

body.extensao-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--cor-fundo-cinza);

    width: 100vw;
    height: 100vh;

    padding-top: var(--nav-height);

    transition: transform 400ms;

    transform:  translateY(0);
}

.social-links {
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}
.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 4rem;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 3.1rem;
    cursor: pointer;
}

.menu ul li a {
    text-decoration: none;
    color: var(--cor-text-3);
    cursor: pointer;
}
.menu .button {
    background: var(--cor-principal-azul);
    border-radius: 4rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 6px 16px;

    margin-top: 4.8rem;
    margin-bottom: 6rem;
    cursor: pointer;
}
body.extensao-menu .logo,
body.extensao-menu nav button {
    position: relative;
    z-index: 100;
}

/* ==SESSÃO FEATURE== */
#feature header h4 {
    text-transform: uppercase;

    line-height: 150%;
    letter-spacing: 0.08rem;
    font-size: 1.4rem;
    color: #fff;
    padding-top: 1.8rem;
    margin-bottom: 1rem;
}
#feature header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: #fff;
    margin-bottom: 4rem;
}
#feature .cards {
    background: var(--cor-principal-azul);
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border-radius: 2rem;
}
.card {
    padding: 2.4rem;
    text-align: left;
    color: #fff;

    background: var(--cor-principal-azul);

    border: none;
    /* border-radius: .6rem; */
}
.card h3 {
    margin-block: 1.8rem;
}

/* ==SESSÃO FEATURE== */

.platform {
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
}

.platform .conteudo h3 {
    text-transform: uppercase;

    line-height: 150%;
    letter-spacing: 0.08rem;
    font-size: 1.4rem;
    color: black;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.cards-servicos img {
    width: 4rem;
    height: auto;
}

.cards-servicos {
    padding-block: 2rem;

    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    gap: 2rem;
}

.card-servico {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    color: var(--cor-footer);
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    margin-left: 0;
}