* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==GERAL== */

:root {

    --cor-principal-azul: hsl(203, 100%, 38%);
    --cor-fundo-cinza: hsl(0, 0%, 98%);
    --cor-footer: hsl(210, 19%, 14%);
    --cor-text-2: hsl(225, 12%, 87%);
    --cor-text-2: hsl(225, 12%, 40%);

    font-size: 62.5%;
    --nav-height: 6.2rem;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

.box-content {
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

/* ==HEADER== */
header {

    margin-top: calc(4.1rem + var(--nav-height));
}

header h1 {
    font-size: 3.4rem;
    line-height: 130%;
    margin-bottom: 2.4rem;
}

header h4 {
    font-size: 1.4rem;
    color: var(--cor-principal-azul);
    margin-bottom: 1.6rem;
}

header p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--cor-text-3);
    margin-bottom: 3.2rem;
}

header button {
    background: var(--cor-principal-azul);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;

    height: 4rem;
    width: 14rem;

    border: none;
    border-radius: 8px;
    margin-bottom: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.img-principal img {
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 2rem;
}

/* ==LOGO EMPRESAS== */
.empresas {
    width: 32.7rem;
    padding-block: 4rem;

    background: var(--cor-fundo-cinza);
    border: none;
    border-radius: 0.9rem;

    margin-inline: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

/* ==NAVIGATION== */
nav {
    display: flex;

    height: var(--nav-height);

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav .box-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .scroll {
    width: 100vw;
    background: var(--cor-fundo-cinza);
}